<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/60d39f81d3.js" crossorigin="anonymous"></script>

    <body>
        <%- include("./part/header") %>
            <div class="container mt-3">
                <h1>Giới thiệu</h1>
                <hr>
                <h2>Sinh viên 5 tốt là gì?</h2>
                <div class="content1">
                    <p>Sinh viên 5 Tốt là danh hiệu do Hội sinh viên trao tặng cho quá trình phấn đấu toàn diện từ học tập đến rèn luyện của sinh viên UIT. Sinh viên 5 Tốt bao gồm học tập tốt, đạo đức tốt, thể lực tốt, hội nhập tốt, tình nguyện tốt. <br>                        Đây là danh hiệu có 5 cấp, lần lượt là cấp Liên chi, cấp Trường, cấp Đại học Quốc gia, cấp Thành phố, cấp Trung ương.</p>
                    <p>Hãy cùng theo dõi Sinh viên 5 Tốt cấp Trường tại đây: <a href="https://bitly.com.vn/h7VVr">SV 5 dốt</a></p>
                </div>
                <div class="img">
                    <center><img src="https://www.uit.edu.vn/sites/vi/files/image_from_word/5_tot.jpg" alt=""></center>
                </div>
                <div class="content2">
                    <strong> <p style="float:right; font-style: oblique;">Theo Miên Miên</p></strong>
                </div>
            </div>
            <br>

    </body>

</html>